<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.bf.zxd.zhuangxudai">

    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- 读取 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 写入权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 创建与删除权限 -->
    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS" />

    <application
        android:name=".application.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- 主页 -->
        <activity
            android:name=".main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="false">
        </activity>
        <!-- 登录页面 -->
        <activity
            android:name=".Login.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <!-- 入驻申请 -->
        <activity
            android:name=".my.ApplyForActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <!-- 我的贷款 -->
        <activity
            android:name=".my.LoanApplyForActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <!-- 公司详情 -->
        <activity android:name=".JZZT.ProductExhibitionActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".template.TemplateActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <!-- 装修攻略 -->
        <activity
            android:name=".zxgl.ZxglActivity"
            android:hardwareAccelerated="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <!-- 装修公司 -->
        <activity
            android:name=".zxgs.ZxgsActivity"
            android:hardwareAccelerated="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <!-- 家装专题 -->
        <activity
            android:name=".JZZT.JzztActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <!-- 装修公司 商品展示页 -->
        <activity
            android:name=".zxgs.ZxgsDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <!-- 贷款 -->
        <activity
            android:name=".zxgs.LoanApplyActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 预约 -->
        <activity
            android:name=".zxgs.AppointmentActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <!-- 贷款活动 -->
        <activity
            android:name=".Dkhd.LoanActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <!-- 活动详情 -->
        <activity
            android:name=".Dkhd.LoanDetailsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <!-- 装修攻略详情 -->
        <activity
            android:name=".zxgl.ZxglDetailsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <!-- 欢迎页面 -->
        <activity
            android:name=".WelcomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>
        <!-- 我的预约-->
        <activity
            android:name=".User.MyAppointmentActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <!-- 我的贷款 -->
        <activity
            android:name=".User.MyLoanActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <!-- 注册页面 -->
        <activity
            android:name=".Login.RegistActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".Login.RegistSuccessActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <!-- 所有信息 -->
        <activity
            android:name=".zxgs.LoanApplyAllMsgActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <!-- 个人信息 -->
        <activity
            android:name=".zxgs.LoanApplyUserMsgActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <!-- 工作信息 -->
        <activity
            android:name=".zxgs.LoanApplyWorkMsgActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <!-- 资产信息 -->
        <activity
            android:name=".zxgs.LoanApplyMoneyMsgActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <!-- 我的收藏 -->
        <activity
            android:name=".User.MyCollectActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <!-- 申请进度 -->
        <activity android:name=".User.ApplyScheduleActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait"
            >
        </activity>
        <!-- 个人中心 -->
        <activity android:name=".User.UserInfoActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait"
            >
        </activity>
    </application>

</manifest>